# Supabase Configuration (Google OAuth)
VITE_SUPABASE_URL=https://your-project.supabase.co
VITE_SUPABASE_ANON_KEY=your-supabase-anon-key

# Dodo Payments Configuration
VITE_DODO_PAYMENTS_API_KEY=your-dodo-api-key
VITE_DODO_PRODUCT_ID=your-prduct-id
VITE_DODO_PAYMENTS_ENV=sandbox
VITE_DODO_PAYMENTS_ENDPOINT_ID=your-payemt-endpoint
VITE_DODO_PAYMENTS_WEBHOOK_SIGNING_SECRET=ypur-webhook-url
